<div class="template-selector">
  <div class="selector-header">
    <button nz-button *ngIf="preferences" (click)="goBackToWizard()" class="back-button">
      <span nz-icon nzType="arrow-left"></span>
      Modifica Preferenze
    </button>
    <div class="header-text">
      <h2>Scegli un Template</h2>
      <p *ngIf="!preferences">Clicca su un template per vedere l'anteprima completa</p>
      <p *ngIf="preferences" class="filtered-message">
        <span nz-icon nzType="filter" nzTheme="fill"></span>
        Mostrando {{ templates.length }} template{{ templates.length !== 1 ? 's' : '' }} adatti alle tue esigenze
      </p>
    </div>
  </div>
  
  <div nz-row [nzGutter]="[16, 16]">
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6" *ngFor="let template of templates">
      <nz-card 
        class="template-card"
        [class.disabled-card]="template.disabled"
        [nzCover]="coverTemplate"
        [nzActions]="template.disabled ? [] : [actionPreview]"
        [nzHoverable]="!template.disabled"
        (click)="!template.disabled && previewTemplate(template)">
        
        <ng-template #coverTemplate>
          <div class="template-preview-mini">
            <app-modern-template *ngIf="template.id === 'modern-1' && sampleData" [cvData]="sampleData"></app-modern-template>
            <app-classic-template *ngIf="template.id === 'classic-1' && sampleData" [cvData]="sampleData"></app-classic-template>
            <app-creative-template *ngIf="template.id === 'creative-1' && sampleData" [cvData]="sampleData"></app-creative-template>
            <app-minimal-template *ngIf="template.id === 'minimal-1' && sampleData" [cvData]="sampleData"></app-minimal-template>
            <app-professional-template *ngIf="template.id === 'professional-1' && sampleData" [cvData]="sampleData"></app-professional-template>
            <app-tech-template *ngIf="template.id === 'tech-1' && sampleData" [cvData]="sampleData"></app-tech-template>
            <app-executive-template *ngIf="template.id === 'executive-1' && sampleData" [cvData]="sampleData"></app-executive-template>
            <app-simple-template *ngIf="template.id === 'simple-1' && sampleData" [cvData]="sampleData"></app-simple-template>
          </div>
        </ng-template>
        
        <nz-card-meta 
          [nzTitle]="template.name" 
          [nzDescription]="template.description">
        </nz-card-meta>
        
        <div class="template-category">
          <nz-tag *ngIf="template.disabled" nzColor="gold">
            🚧 Coming Soon
          </nz-tag>
          <nz-tag *ngIf="!template.disabled" [nzColor]="getCategoryColor(template.category)">
            {{ template.category }}
          </nz-tag>
          <nz-tag *ngIf="!template.disabled && template.hasPhoto" nzColor="green">
            Con Foto
          </nz-tag>
          <nz-tag *ngIf="!template.disabled && !template.hasPhoto" nzColor="orange">
            Senza Foto
          </nz-tag>
        </div>
        
        <ng-template #actionPreview>
          <button 
            nz-button 
            nzType="primary" 
            (click)="previewTemplate(template); $event.stopPropagation()">
            Anteprima
          </button>
        </ng-template>
      </nz-card>
    </div>
  </div>

  <app-template-preview
    *ngIf="selectedPreviewTemplate && sampleData"
    [template]="selectedPreviewTemplate"
    [cvData]="sampleData"
    [isVisible]="showPreview"
    (confirmed)="onPreviewConfirmed($event)"
    (cancelled)="onPreviewCancelled()">
  </app-template-preview>
</div>