<nz-layout class="layout">
  <nz-header>
    <div class="logo">CV Editor</div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item>
        <span nz-icon nzType="file-text"></span>
        Nuovo CV
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="folder-open"></span>
        Carica CV
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="download"></span>
        Esporta
      </li>
    </ul>
  </nz-header>
  
  <nz-content class="cv-editor-container">
    <nz-card nzTitle="Benvenuto nel tuo CV Editor" class="welcome-card" *ngIf="!showTemplateSelector && !selectedTemplate">
      <p>Inizia a creare il tuo curriculum vitae personalizzato!</p>
      <button nz-button nzType="primary" nzSize="large" (click)="createNewCV()">
        <span nz-icon nzType="plus"></span>
        Crea Nuovo CV
      </button>
    </nz-card>
    
    <app-template-selector 
      *ngIf="showTemplateSelector" 
      (templateSelected)="onTemplateSelected($event)">
    </app-template-selector>
    
    <div *ngIf="selectedTemplate && cvData && !showEditor" class="cv-preview">
      <div class="cv-actions">
        <button nz-button (click)="backToTemplates()">
          <span nz-icon nzType="arrow-left"></span>
          Cambia Template
        </button>
        <button nz-button nzType="primary" (click)="editCV()">
          <span nz-icon nzType="edit"></span>
          Modifica CV
        </button>
        <button nz-button nzType="default" (click)="downloadPDF()">
          <span nz-icon nzType="download"></span>
          Scarica PDF
        </button>
      </div>
      
      <div id="cv-template">
        <app-modern-template *ngIf="selectedTemplate?.id === 'modern-1'" [cvData]="cvData"></app-modern-template>
        <app-classic-template *ngIf="selectedTemplate?.id === 'classic-1'" [cvData]="cvData"></app-classic-template>
        <app-creative-template *ngIf="selectedTemplate?.id === 'creative-1'" [cvData]="cvData"></app-creative-template>
        <app-minimal-template *ngIf="selectedTemplate?.id === 'minimal-1'" [cvData]="cvData"></app-minimal-template>
        <app-professional-template *ngIf="selectedTemplate?.id === 'professional-1'" [cvData]="cvData"></app-professional-template>
        <app-tech-template *ngIf="selectedTemplate?.id === 'tech-1'" [cvData]="cvData"></app-tech-template>
        <app-executive-template *ngIf="selectedTemplate?.id === 'executive-1'" [cvData]="cvData"></app-executive-template>
        <app-simple-template *ngIf="selectedTemplate?.id === 'simple-1'" [cvData]="cvData"></app-simple-template>
      </div>
    </div>
    
    <app-cv-editor 
      *ngIf="showEditor && cvData && selectedTemplate" 
      [cvData]="cvData" 
      [hasPhoto]="selectedTemplate.hasPhoto"
      (dataChanged)="onDataChanged($event)"
      (backToPreview)="backToPreview()">
    </app-cv-editor>
  </nz-content>
  
  <nz-footer style="text-align: center;">
    CV Editor ©2024 - Creato con Angular 19 e ng-zorro
  </nz-footer>
</nz-layout>
